@model HospitalManagementSystem.Models.Bill

@{
    decimal total =
        Model.ConsultationFee +
        Model.MedicineFee +
        Model.RoomCharge +
        Model.Tax -
        Model.Discount;
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h3 class="text-success">
    Total Bill: ₹@total
</h3>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsultationFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsultationFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MedicineFee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MedicineFee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a href="/Billing/DownloadPdf/@Model?.Id" class="btn btn-danger btn-sm">
        Download PDF
    </a>
</div>
